.header-link {
  color: black; /* set link color to black */
  font-size: 24px; /* adjust font size as needed */
  text-decoration: none; /* remove underline from link */
}

.header-link span:first-child {
  font-weight: 300; /* lighter weight for 'Good' */
}

.header-link span:last-child {
  font-weight: 700; /* bolder weight for 'reads' */
}

.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.settings-dropdown {
  margin-left: auto;
}