.starter-page {
  font-family: 'Arial', sans-serif;
  background-color: beige;
  width: 100%;
  min-height: 100vh; /* make sure it covers the whole viewport height */
}

.top-bar {
  width: 100%; /* make the top bar span the entire width */
  padding: 20px 0;
  align-items: center;
}

.books-img {
  max-width: 100%;
  height: auto; /* maintain aspect ratio */
}

.navigation .btn {
  background-color: #553b08;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}

.navigation .btn:hover {
  background-color: #e9e5cd;
}
